import /system/etc/init/init.oppo.fingerprints.rc
import /vendor/etc/init/init.oppo.reserve.rc

on init
    # Bind mount the fstab file with the one in /vendor/etc/
    mount none /system/etc/fstab.qcom /vendor/etc/fstab.qcom bind
    # Bind mount the config file with the one in /vendor/etc/audio/
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    # Bind mount manifest.xml
    mount none /system/etc/manifest.xml /vendor/etc/vintf/manifest.xml bind
    # Bind mount libvolumelistener with /vendor/(lib|lib64)/soundfx/
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind

on boot
    # OTG
    write /sys/class/power_supply/usb/otg_switch 1
